# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React
.DS_STORE

node_modules
.module-cache

build/
dist/
coverage/
temp/

package-lock.json

.vscode
*.swp
*.swo
.idea
*.log*
*.pyc

.npmrc
pnpm-lock.yaml

.env

